@media screen and (max-width:600px){
   /* start nav responsive */
   .header__responsive{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.nav__burger div{
        font-size: 4rem;
        cursor: pointer;
}
.img__logo{
    width: 7rem;

}
.img__logo img{
    width: 100%;
    border-radius: 50%;
}
   /* end nav responsive */
   .page__aside{
    display: none !important;
   }
   body{
    justify-content: center;
   }
   main{
     width: 100%;
   }
   .main--container{
    width: 90%;
}
.cards--single{
    width: 100% ;
    }
    .me--single{
        width: 100%;
    }
    .charge__categ__basic{
        width: 100%;
        margin-bottom: 2rem; 
    }
    .contact__container{
        width: 90% !important;
        margin: auto
    }
    .contact__choices__mail,
    .contact__choices__location,
    .contact__choice__phone{
        width: 100% !important;  
    } 
    .footer__top__container{
        flex-direction: column;
        width: 90%;

    }
.footer__left,
.footer__post,
.popular-tags{
    width: 100%;
}
.footer__bottom{
    
    height: 5rem;
    
}
}